@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply transition-all rounded-md bg-gradient-to-r from-green-500 to-blue-400
  px-4 py-2 text-white shadow-lg font-semibold hover:bg-gradient-to-r
hover:from-blue-400 hover:to-green-400 focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 ring-offset-2;
}

#qube {
  top: -15%;
}

#sign-in {
  @apply fixed left-1/2 transform -translate-x-1/2 bottom-1/4 -translate-y-1/2
  text-xl py-4 px-8 z-50;
}

#welcome-text {
  /* font-family: 'Press Start 2P'; */
  @apply text-3xl ml-4 mt-2 ;
}

#address {
  @apply text-xl ml-4 mt-2 bg-gray-300 fixed right-0 top-0 mr-4 border-2
  border-black rounded-full px-4;
}

#mint-button {
  @apply fixed left-1/2 transform -translate-x-1/2 bottom-1/4 -translate-y-1/2
  text-xl px-6 z-50 p-6 drop-shadow-2xl;
}

#logout-button {
  @apply fixed right-0 p-4 mr-4 mt-2 drop-shadow-2xl;
}
